//
// Notes to End Users.
//
// The workflow should run without editing this configuration file,
// however there may be instances in which you wish to edit this
// file for compute performance or other reasons. Please see:
//
//   https://nextflow.io/docs/latest/config.html#configuration
//
// for further help editing this file.


params {
    // I/O args
    fastq = null
    reference = null
    out_dir = "output"
    sample = null
    sample_sheet = null
    analyse_unclassified = false
    combine_results = false

    // filtering + downsampling args
    min_read_length = 300
    max_read_length = null
    min_read_qual = 10
    drop_frac_longest_reads = 0.05
    take_longest_remaining_reads = true
    reads_downsampling_size = 1500
    min_n_reads = 40

    // mapping + variant calling args
    number_depth_windows = 100
    min_coverage = 20
    override_basecaller_cfg = null
    medaka_target_depth_per_strand = 150

    // de-novo mode options
    force_spoa_length_threshold = 2000
    spoa_minimum_relative_coverage = 0.15
    spoa_max_allowed_read_length = 5000
    minimum_mean_depth = 30
    primary_alignments_threshold = 0.7

    // misc
    help = false
    version = false
    aws_image_prefix = null
    aws_queue = null
    disable_ping = false
    threads = 4

    // schema etc.
    monochrome_logs = false
    validate_params = true
    show_hidden_params = false
    schema_ignore_params = 'show_hidden_params,validate_params,monochrome_logs,aws_queue,aws_image_prefix,wf,epi2melabs'

    wf {
        fastcat_stats = true
        example_cmd = [
            "--fastq 'wf-amplicon-demo/fastq'",
            "--reference 'wf-amplicon-demo/reference.fa'"
        ]
        common_sha = "shad399cf22079b5b153920ac39ee40095a677933f1"
        container_sha = "sha79b5ac4013195fec9809f2b71ef55b87bf9c7f16"
        container_sha_medaka = "sha3486abaab0d3b90351617eb8622acf2028edb154"
        agent = null
    }
}

manifest {
    name            = 'epi2me-labs/wf-amplicon'
    author          = 'Oxford Nanopore Technologies'
    homePage        = 'https://github.com/epi2me-labs/wf-amplicon'
    description     = 'Amplicon workflow'
    mainScript      = 'main.nf'
    nextflowVersion = '>=23.04.2'
    version         = 'v1.1.3'
}

epi2melabs {
    tags = 'amplicon,alignment,variant calling'
}


// used by default for "standard" (docker) and singularity profiles,
// other profiles may override.
process {
    withLabel:wf_common {
        container = "ontresearch/wf-common:${params.wf.common_sha}"
    }
    withLabel:wfamplicon {
        container = "ontresearch/wf-amplicon:${params.wf.container_sha}"
    }
    withLabel:medaka {
        container = "ontresearch/medaka:${params.wf.container_sha_medaka}"
    }
    shell = ['/bin/bash', '-euo', 'pipefail']
}


profiles {
    // the "standard" profile is used implicitely by nextflow
    // if no other profile is given on the CLI
    standard {
        docker {
            enabled = true
            // this ensures container is run as host user and group, but
            //    also adds host user to the within-container group
            runOptions = "--user \$(id -u):\$(id -g) --group-add 100"
        }
    }

    // using singularity instead of docker
    singularity {
        singularity {
            enabled = true
            autoMounts = true
        }
    }


    // keep stub conda profile to prevent unknown profile warning so users get a better error
    conda {
        conda.enabled = true
    }

    // Using AWS batch.
    // May need to set aws.region and aws.batch.cliPath
    awsbatch {
        process {
            executor = 'awsbatch'
            queue = "${params.aws_queue}"
            memory = '32G'
            withLabel:wf_common {
                container = "${params.aws_image_prefix}-wf-common:${params.wf.common_sha}"
            }
            withLabel:wfamplicon {
                container = "${params.aws_image_prefix}-wf-amplicon:${params.wf.container_sha}"
            }
            withLabel:medaka {
                container = "${params.aws_image_prefix}-medaka:${params.wf.container_sha_medaka}"
            }
            shell = ['/bin/bash', '-euo', 'pipefail']
        }
    }

    // local profile for simplified development testing
    local {
        process.executor = 'local'
    }
}


timeline {
  enabled = true
  overwrite = true
  file = "${params.out_dir}/execution/timeline.html"
}
report {
  enabled = true
  overwrite = true
  file = "${params.out_dir}/execution/report.html"
}
trace {
  enabled = true
  overwrite = true
  file = "${params.out_dir}/execution/trace.txt"
}

env {
    PYTHONNOUSERSITE = 1
    JAVA_TOOL_OPTIONS = "-Xlog:disable -Xlog:all=warning:stderr"
}
