//
// Notes to End Users.
//
// The workflow should run without editing this configuration file,
// however there may be instances in which you wish to edit this
// file for compute performance or other reasons. Please see:
//
//   https://nextflow.io/docs/latest/config.html#configuration
//
// for further help editing this file.


params {
    // I/O args
    fastq = null
    reference = null
    out_dir = "output"
    sample = null
    sample_sheet = null
    analyse_unclassified = false

    // filtering + downsampling args
    min_read_length = 300
    max_read_length = null
    min_read_qual = 10.0
    reads_downsampling_size = null

    // mapping + variant calling args
    number_depth_windows = 100
    min_coverage = 20
    basecaller_cfg = "dna_r10.4.1_e8.2_400bps_hac"
    medaka_model = null

    // misc
    help = false
    version = false
    aws_image_prefix = null
    aws_queue = null
    disable_ping = false
    threads = 1
    process_label = "wfamplicon"

    // schema etc.
    monochrome_logs = false
    validate_params = true
    show_hidden_params = false
    epi2melabs.outdirParam = "outdir"
    schema_ignore_params = 'show_hidden_params,validate_params,monochrome_logs,aws_queue,aws_image_prefix,wf,epi2melabs'

    wf {
        fastcat_stats = true
        example_cmd = [
            "--fastq test_data/fastq"
        ]
        container_sha = "shaa969a1ee5479f513d9b6d43ff352c4c80bcebccd"
        agent = null
    }
}

manifest {
    name            = 'epi2me-labs/wf-amplicon'
    author          = 'Oxford Nanopore Technologies'
    homePage        = 'https://github.com/epi2me-labs/wf-amplicon'
    description     = 'Amplicon workflow'
    mainScript      = 'main.nf'
    nextflowVersion = '>=20.10.0'
    version         = 'v0.1.2'
}

epi2melabs {
    tags = 'amplicon,alignment,variant calling'
}

executor {
    $local {
        cpus = 4
        memory = "8 GB"
    }
}


// used by default for "standard" (docker) and singularity profiles,
// other profiles may override.
process {
    withLabel:wfamplicon {
        container = "ontresearch/wf-amplicon:${params.wf.container_sha}"
    }
    withLabel:medaka {
        container = "ontresearch/medaka:v1.7.3"
    }
    shell = ['/bin/bash', '-euo', 'pipefail']
}


profiles {
    // the "standard" profile is used implicitely by nextflow
    // if no other profile is given on the CLI
    standard {
        docker {
            enabled = true
            // this ensures container is run as host user and group, but
            //    also adds host user to the within-container group
            runOptions = "--user \$(id -u):\$(id -g) --group-add 100"
        }
    }

    // using singularity instead of docker
    singularity {
        singularity {
            enabled = true
            autoMounts = true
        }
    }


    // keep stub conda profile to prevent unknown profile warning so users get a better error
    conda {
        conda.enabled = true
    }

    // Using AWS batch.
    // May need to set aws.region and aws.batch.cliPath
    awsbatch {
        process {
            executor = 'awsbatch'
            queue = "${params.aws_queue}"
            memory = '8G'
            withLabel:wfamplicon {
                container = "${params.aws_image_prefix}-wf-amplicon:${params.wf.container_sha}-root"
            }
            shell = ['/bin/bash', '-euo', 'pipefail']
        }
    }

    // local profile for simplified development testing
    local {
        process.executor = 'local'
    }
}


timeline {
  enabled = true
  overwrite = true
  file = "${params.out_dir}/execution/timeline.html"
}
report {
  enabled = true
  overwrite = true
  file = "${params.out_dir}/execution/report.html"
}
trace {
  enabled = true
  overwrite = true
  file = "${params.out_dir}/execution/trace.txt"
}

env {
    PYTHONNOUSERSITE = 1
}
